* {

}

.navigation {
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
    background-color: #A50000;
    color: black;
    text-decoration: none;
    text-align: center;
}

.navigation:hover {
    color: white;
    text-decoration: none;
}

h1 {
    font-family: 'Rubik Dirt', cursive;
    font-size:x-large;
    font-weight: bold;
    color: #A50000;
    text-align: center;
    padding-right: 25%;
}

p {
    font-family:'Roboto', sans-serif ;
    text-align: justify;
    text-align: center;

}
